--index-url https://pypi.python.org/simple/

click==6.7
Flask==0.12.2
Flask-WTF==0.14.2
get==0.0.21
itsdangerous==0.24
Jinja2==2.9.6
MarkupSafe==1.0
post==0.0.13
public==0.0.38
query-string==0.0.12
request==0.0.13
setupfiles==0.0.50
simplejson==3.10.0
uWSGI==2.0.15
uwsgitop==0.10
Werkzeug==0.12.2
WTForms==2.1

-e .
