.vue2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 16px;
  margin-bottom: 16px;
}

.search-wrapper {
  position: relative;
}
.search-wrapper :label {
  position: absolute;
  font-size: 12px;
  color: rgba(0,127,0,.50);
  top: 8px;
  left: 12px;
  z-index: -1;
  transition: .15s all ease-in-out;
}
.search-wrapper input {
  padding: 4px 12px;
  color: rgba(0,0,0,.70);
  border: 1px solid rgba(255,0,0,.12);
  transition: .15s all ease-in-out;
  background: gray;
}
.search-wrapper input:focus {
  outline: none;
  transform: scale(1.05);
}
.search-wrapper input:focus + label {
  font-size: 10px;
  transform: translate(-50%,-50%);
  background-color: lightblue;
}

.search-wrapper ::-webkit-input-placeholder {
  font-size: 12px;
  color: rgba(0,255,0,.50);
  font-weight: 100;
}


.wrapper {
  display: flex;
  max-width: 444px;
  flex-wrap: wrap;
  padding-top: 12px;
}

.card {
  box-shadow: rgba(0, 0, 0, 0.117647) 0 1px 6px, rgba(0, 0, 0, 0.117647) 0 1px 4px;
  max-width: 124px;
  margin: 12px;
  transition: .15s all ease-in-out;
}
.card :hover {
  transform: scale(1.1);
}
.card a {
  text-decoration: none;
  padding: 12px;
  color: #03A9F4;
  font-size: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card img {
  height: 100px;
}
.card small {
  font-size: 10px;
  padding: 4px;
}


.box {
  width: 100px;
  height: 100px;
  border: solid rgba(0, 0, 0, 0.5) 1px;
}

.bred {
  background-color: red;
}

.bblue {
  background-color: blue;
}
