<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" manifest="{{ url_for('static', filename='cache.manifest') }}">
	<head>
		<title>Flask App</title>
		<meta http-equiv="Cache-Control" content="public, no-store, no-cache, must-revalidate, post-check=0, pre-check=0, max-age=0" />
		<meta http-equiv="Pragma" content="no-cache" />
		<meta http-equiv="Expires" content="-1" />

		<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
		<!-- <script src="https://unpkg.com/vue/dist/vue.min.js"></script> -->
		<script type=text/javascript src="{{ url_for('static', filename='js/vue.js') }}"></script>
		<script type=text/javascript src="{{ url_for('static', filename='js/vuex.js') }}"></script>
		<script type=text/javascript src="{{ url_for('static', filename='js/main.js') }}"></script>
	</head>
	<body>
		<header>
			<div class="container">
				<h1 class="logo">Ardit's web app</h1>
				<strong><nav>
					<ul class="menu">
						<li><a href="{{ url_for('index') }}">Home</a></li>
						<li><a href="{{ url_for('p01') }}">Vue 1</a></li>
						<li><a href="{{ url_for('p02') }}">Vue 2</a></li>
						<li><a href="{{ url_for('p03') }}">Vue 3</a></li>
						<li><a href="{{ url_for('p04') }}">Test 1</a></li>
					</ul>
				</nav></strong>
			</div>
		</header>
		<div class="container">
			{% block content %}
			{% endblock %}
		</div>
		<footer>
		</footer>
	</body>
</html>
